@import './app/css/style.css';

$mainColor: #0046AD;

.navbarBanner {
  background-color: $mainColor;
}

.navbar-brand img {
  height: 50px;
  width: 100px;
}

.nav {
  justify-content: flex-end;
}

.nav.navbar-nav.navbar-right li a {
  color: #FFFFFF;
  font-weight: bold;
}

.carousel-inner img {
  height: 600px;
}

.carousel-item {
  display: none;
  position: relative;
  transition: (.6s ease-in-out left);
}

