@import './app/css/style.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

$mainColor: #0046AD;

.navbarBanner {
  background-color: $mainColor;
}

.navbar-brand img {
  height: 75px;
  width: 150px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  padding-right: 20px;
}

.nav.navbar-nav.navbar-right li a {
  color: #FFFFFF;
  font-weight: bold;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: #f4743b;
}

.arrowDown {
  display: flex;
  justify-content: center;
}

.homepageCarousel {
  padding-bottom: 20px;
}

.carousel-inner img {
  height: 600px;
}

.carousel-item {
  display: none;
  position: relative;
}

.aboutPositioning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  margin-bottom: auto;
}

.aboutTitle {
  padding: 0 0 20px 40px;
  display: block;

  h1 {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #f4743b;
  }
}

#aboutQfi {
  margin: 50px 0 100px 0;
  display: flex;
  justify-content: center;
}

.aboutDescription {
  width: 700px;
  display: block;
  right: 0;
  padding: 10px 0 10px 40px;

  p {
    line-height: 2;
    font-size: 1rem;
  }
}

.col {
  align-self: center;
}

.aboutImage img {
  height: 400px;
  padding-right: 30px;
}

.col .aboutImage {
  display: flex;
  align-self: flex-end;
}

.contactFooter {
  padding: 20px 0 20px 0;
  background-color: #E8E7E7;
}

.contactFooter .col {
  text-align: center;
  align-self: center;
  border-left: 2px black;
  border-right: 2px black;
  font-weight: bold;
}

.contactTitles h4 {
  text-decoration: underline;
  text-decoration-color: #f4743b;
  font-weight: bold;
  text-align: center;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.icon {
  padding: 10px;
}

.blackLogo img {
  height: 75px;
  padding: 20px;
}

.companyDescription {
  text-align: center;
  display: flex;
  justify-content: center;

  p {
    font-size: 0.6rem;
    width: 200px;
    padding: 10px 20px 20px 20px;
  }
}

.sectionList li {
  list-style-type: none;
}

.corporateAddress, .englishAddress {
  display: flex;
  justify-content: center;
}

.corporateAddress p, .englishAddress p {
  width: 200px;
  font-size: 0.8rem;
}

.contactInfo h6 {
  display: block;
}
